.page-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;

  background-color: #fafafa;
}

.dark {
  background-color: #525252;
}

.page-container:has(.title) {
  align-items: center;
}

.content {
  width: 70%;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .content {
    width: 95%;
  }
}
