@import "src/app/globals.scss";

.page-container {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;

  background-color: $light;
  color: $dark;

  &.dark {
    background-color: $dark;
    color: $light;
  }
}

.page-container:has(.title) {
  align-items: center;
}

.content {
  width: 70%;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .content {
    width: 95%;
  }
}
