@import "src/app/globals.scss";

.title {
  text-align: center;
  font-size: 11vw;
  font-weight: lighter;
  span {
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    display: inline-block;
    &.visible {
      opacity: 1;
      color: $maroon;
    }
  }
}
