.card {
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;

  h3 {
    transform: translateY(-25px);
    background-color: #525252;
    width: fit-content;
    padding: 0 10px;
  }

  img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 5px;
  }
}
