@import "src/app/globals.scss";

.card {
  border: 2px solid $dark;
  border-radius: 5px;
  padding: 0 10px 10px 10px;
  &.dark {
    border: 2px solid $light;
    h3 {
      background-color: $dark;
    }
  }

  h3 {
    transform: translateY(-12px);

    background-color: $light;
    width: fit-content;
    padding: 0 10px;
  }

  img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 5px;
  }
}
