@import "src/app/globals.scss";

.card {
  border: 2px solid $red;
  border-radius: 5px;
  // overflow: hidden;
  &.dark {
    // border: 2px solid $light;
    h3 {
      background-color: $dark;
    }
  }

  h3 {
    transform: translate(12px, -12px);

    background-color: $light;
    width: fit-content;
    padding: 0 20px;
  }

  img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 5px;
    overflow-clip-margin: 4px;
  }
}
