$light: #fdfdfd;
$dark: #0a0007;
$light-gray: #d3d3d3;
$dark-gray: #383838;

$blue: #22d3ee;
$dark-blue: #014d80;
$green: #22ee66;
$dark-green: #00642b;
$purple: #bc75ff;
$dark-purple: #430180;
$red: #ff7575;
$dark-red: #800101;

// main color
$main: $blue;
$dark-main: $dark-purple;

$header-width: 200px;
$header-width-closed: 50px;

$transition: all 0.3s ease;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
