@import "src/app/globals.scss";

.navbar {
  height: 200px;

  position: fixed;
  top: calc(50dvh - 100px);
  right: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  background: #f05941;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 15px 10px;
  border-radius: 50rem;

  &.dark {
    background: #872341;
  }

  ul {
    list-style-type: none;
    // height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    li {
      display: flex;
      align-items: center;
      justify-content: center;

      color: $dark;

      &.dark {
        color: $light;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
