.navbar {
  height: 200px;

  position: fixed;
  top: calc(50% - 100px);
  right: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  background-color: #0003;
  padding: 15px 10px;
  border-radius: 50rem;

  ul {
    list-style-type: none;
    // height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    li {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
