@import "src/app/globals.scss";

.navbar {
  // height: 250px;

  position: fixed;
  top: calc(50dvh - 100px);
  right: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  background: #f0594188;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 5px;
  border-radius: 50rem;

  &.dark {
    background: #87234188;
  }

  ul {
    list-style-type: none;
    // height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;

      color: $dark;
      border: 1px solid transparent;

      &.dark {
        color: $light;
      }

      &.active {
        border: 1px solid $red;
        border-radius: 100rem;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
