.navbar {
  height: 200px;

  position: fixed;
  top: calc(50% - 100px);
  left: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #3fd9;
  padding: 20px 10px;
  border-radius: 50rem;
}
.navbar ul {
  list-style-type: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}
