.navbar {
  height: 200px;

  position: fixed;
  top: calc(50% - 100px);
  right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #0003;
  padding: 20px 10px;
  border-radius: 50rem;

  ul {
    list-style-type: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
  }
}
