.subtitle {
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 8.5vw;
  font-family: "Rubik Mono One", monospace;
  background-color: #888;
  color: transparent;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 1);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    background-color: #fafafa;
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0%;
    right: 0;
    border-top: 1px solid #8885;
  }

  &.dark {
    text-shadow: 2px 2px 8px #525252;
    background-color: #333;

    &::before {
      background-color: #525252;
      border-top: 1px solid #444;
    }
  }
}

@media screen and (max-width: 768px) {
  .subtitle {
    /* color: red; */
  }
}
