@import "src/app/globals.scss";

.subtitle {
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 8.5vw;
  font-family: "Rubik Mono One", monospace;
  background-color: $dark-gray;
  color: transparent;
  text-shadow: 2px 2px 8px white;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    background-color: $light;
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0%;
    right: 0;
    border-top: 1px solid $light-gray;
  }

  &.dark {
    text-shadow: 2px 2px 8px $dark;
    background-color: $light-gray;

    &::before {
      background-color: $dark;
      border-top: 1px solid $dark-gray;
    }
  }
}

@media screen and (max-width: 768px) {
  .subtitle {
    /* color: red; */
  }
}
