.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;

  .card {
    width: 30%;

    &.open {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .card-container {
    .card {
      width: 45%;
    }
  }
}

@media screen and (max-width: 768px) {
  .card-container {
    .card {
      width: 95%;
    }
  }
}
